figure {
  margin: 0;
  padding: 5px;
}

.jp-Cell p {
  text-align: justify;
}

.jp-Cell:has(#Literaturverzeichnis) p {
  text-align: left;
  a {
    color: var(--jp-content-font-color1);
  }
}

@page {
  @bottom-right {
    content: counter(page);
  }
}

@media print {
  .jp-Cell-inputWrapper,
  .jp-Cell-outputWrapper {
    break-inside: avoid-page;
  }

  h1 {
    page-break-before: always;
  }
}
