figure {
  margin: 0;
  padding: 5px;
}

@page {
  @bottom-right {
    content: counter(page);
  }
}

@media print {
  .jp-Cell-inputWrapper,
  .jp-Cell-outputWrapper {
    break-inside: avoid-page;
  }
}
