figure {
  margin: 0;
  padding: 5px;
}

.jp-Cell p {
  text-align: justify;
}

.jp-Cell:has(#Literaturverzeichnis) p {
  text-align: left;
  a {
    color: var(--jp-content-font-color1);
  }
}

@page {
  font-family: var(--jp-content-font-family);
  /* @top-center {
    content: 'Magomed Alimkhanov';
  } */

  @bottom-right {
    content: counter(page);
  }
}

#abb,
#toc {
  a {
    color: var(--jp-content-font-color1);
    display: grid;
    grid-template-columns: min-content auto max-content;
    margin-block-start: 1em;

    .page {
      font-variant-numeric: tabular-nums;
      min-width: 2ch;
      text-align: right;
    }

    .title {
      position: relative;
      overflow: hidden;
    }

    .title::after {
      position: absolute;
      padding-left: 0.25ch;
      content: ' . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . . . . ';
      text-align: right;
    }
  }
}

#abb a {
  grid-template-columns: auto max-content;
  margin-block-start: unset;
}

.jp-InputArea-editor {
  background-color: unset;
  border: unset;

  .highlight {
    background-color: unset;
  }
}

@media print {
  #Titelblatt {
    page-break-after: always;
  }
  .jp-Cell-inputWrapper,
  .jp-Cell-outputWrapper {
    break-inside: avoid-page;
  }
  .celltag_skip-export .jp-OutputArea-child,
  .celltag_skip-export .jp-Cell-outputWrapper {
    break-inside: auto;
  }

  h1 {
    page-break-before: always;
  }
}
